configuration{
    modi: "run,drun,window";
    show-icons: false;
    terminal: "kitty";
    drun-display-format: "{name}";
    sidebar-mode: false;
}
@theme "~/.config/rofi/themes/simple-tokyonight.rasi"
